<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Login' }) %>
<body>
  <%- include('partials/navbar', { user }) %>
  <div class="container" id="main-content">
    <%- include('partials/banner') %>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white">
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <img src="/img/multiplex.jpg" class="card-img-top" alt="Multiplex news image">
              <div class="card-body">
                <h5 class="card-title">Multiplex</h5>
                <p class="card-text">Take, rank and view news from all over the world, sorted by your preference.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <img src="/img/understand.jpg" class="card-img-top" alt="Understand image">
              <div class="card-body">
                <h5 class="card-title">Understand</h5>
                <p class="card-text">Echelonews uses Google Translate API to make you understand. In your language.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <img src="/img/customize.png" class="card-img-top" alt="Customize image">
              <div class="card-body">
                <h5 class="card-title">Customize</h5>
                <p class="card-text">Make EcheloNews yours. You can choose and even store your favourite topics and countries.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
