<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title }) %>
<body>
  <%- include('partials/navbar', { user: null }) %>
  <div class="container">
    <%- include('partials/banner') %>
    <div class="container">
      <p class="lead big-padding"></p>
      <div class="shadow-lg p-3 mb-5 bg-white Width auto">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="img/politica.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="btn btn-outline-info" href="1">More</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="img/gaz1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="btn btn-outline-info" href="1">More</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="img/calcio.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="btn btn-outline-info" href="1">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="lead big-padding"></p>
      <div class="shadow-lg p-3 mb-5 bg-white Width auto">
        <div class="card">
          <div class="card-header">
            NEWS
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-outline-info" href="1">More</a>
          </div>
        </div>
      </div>
    </div>
    <center>
      <p>©copyright2020 EchelonNEWS. All Rights Reserved</p>
    </center>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="js/bootstrap.bundle.min.js"></script>
  </div>
</body>
</html>
