<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title + ' | EcheloNews' %></title>
  <link rel="stylesheet" href="/style/bootstrap.min.css">
  <link rel="stylesheet" href="/style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <script src="/js/bootstrap.bundle.min.js"></script>
</head>