<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="stile.css">


</head>
<body>
    <div class='fixed-top'>
    <div class="container">
        
     
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand"  <a class="nav-link" href="#">Home </a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
           
            <li class="nav-item">
              <a class="nav-link" href="#">Varie</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                News
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">News1</a>
                <a class="dropdown-item" href="#">News2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">News3</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
          </ul>
  <a href="#" class="btn btn-outline-info" href="1">Signup</a> &nbsp &nbsp
       <a href="#" class="btn btn-outline-info" href="1">Login</a>
   
        </div>
      </nav>
    </div>
    </div>

    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="foto2.jpg" class="d-block w-100" alt="...">
              </div>
             
           
          </div>
    </div>

   <div class="container">
     <p class="lead big-padding">
       <div class="shadow-lg p-3 mb-5 bg-white Width auto">



  
 

    <div class="container">
     <p class="lead big-padding">
       <div class="shadow-lg p-3 mb-5 bg-white ">
<div class="card">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
<form action="login" method="post">
  <div class="form-group">
    <label for="user">User Name
    <input type="txt" name="user">
    </label>
  </div>
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>
 
  
    
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

  </div>
</div>


       </div>
    </div>







    <center>
  <p> ©copyright2020 EchelonNEWS. All Rights Reserved </p>
</center>
     
  
    



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
</body>
</html>


